<a href="https://colab.research.google.com/github/Rahelsiagian21/Rahel-manda-sari-br-siagian-1/blob/main/P8_rahel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40]

In [ ]:
list_numbers = [1, 2, 3, 4, 5]

In [ ]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100

**MENDEKLARASIKAN ARRAY**

In [ ]:
arr = [1, 2, 3, 4, 5]

In [ ]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda

In [ ]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0

In [ ]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

**SOAL NOMOR 1**

In [ ]:
arr = [30, 45, 10, 20, 12, 7, 19, 13, 17, 2, 10, 27, 5, 29]

nilai_maks = max(arr)
print("jadi rata rata nilai maksimum arr adalah" , nilai_maks)

nilai_min = min(arr)
print("jadi nilai minimum arr adalah" , nilai_min)

penjumlahan = sum(arr)
print("hasil penjumlahan seluruh elemen arr adalah", penjumlahan)

jumlah_arr = len(arr)
print("jadi jumlah seluruh elemen arr adalah" , jumlah_arr)

rata_rata = sum(arr)/len(arr)
print("jadi rata-rata seluruh elemen arr adalah", rata_rata)

jadi rata rata nilai maksimum arr adalah 45
jadi nilai minimum arr adalah 2
hasil penjumlahan seluruh elemen arr adalah 246
jadi jumlah seluruh elemen arr adalah 14
jadi rata-rata seluruh elemen arr adalah 17.571428571428573

**SOAL NOMOR 2**

In [ ]:
#program untuk mencari nilai terbesar dari elemen array

#masukkan elemen array T
T1= [9,12,30,-1,0,4,-1,3,30,14]
nilai_terbesar = max(T1)
nilai_terkecil = min(T1)
print("nilai terbesar dari elemen array T1 adalah:", nilai_terbesar)
print("nilai terkecil dari elemen array T1 adalah:", nilai_terkecil)

#masukkan elemen array T
T2=[1,3,5,8,-12,90,3,5]
nilai_terbesar =max(T2)
nilai_terkecil =min(T2)
print("nilai terbesar dari elemen array T2 adalah:", nilai_terbesar)
print("nilai terkecil dari elemen array T2 adalah:", nilai_terkecil)

nilai terbesar dari elemen array T1 adalah: 30
nilai terkecil dari elemen array T1 adalah: -1
nilai terbesar dari elemen array T2 adalah: 90
nilai terkecil dari elemen array T2 adalah: -12